altgraph==0.17
astroid==2.4.1
begins==0.9
colorama==0.4.3
Cython==0.29.19
easycython==1.0.7
future==0.18.2
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
numpy==1.18.4
pefile==2019.4.18
PyInstaller==3.6
pylint==2.5.2
pyperclip==1.8.0
pywin32-ctypes==0.2.0
six==1.14.0
toml==0.10.0
wrapt==1.12.1
